#banner {
    $bannerHeight: 674px;
    $bannerHeightS: 337px;
    $bannerPadding: 60px;
    $bannerBoxHeight: $bannerHeight - $bannerPadding;
    
    position: relative;
    box-sizing: border-box;
    height: $bannerHeight;
    width: 100%;
    
    background-color: white;
    
    @include mediaQ(m-s) {
        height: $bannerHeightS;
    }
    
    .slick-slider {
        height: $bannerHeight;
        @include mediaQ(m-s) {
            height: $bannerHeightS;
        }
    }
    
    .slick-prev {left: 0;}
    .slick-next {right: 0;}
    .slick-dots {bottom: 25px;}
    
    .slick-dots li button:before {
        font-size: 12px;
        text-shadow: 0 0 5px black;
        color: white;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before {color: $fontOrange;}

    @import 'partials/slides';
}