header {
    position: fixed;
    z-index: 100;
    height: 60px;
    width: 100%;
    
    background-color: rgba(0,0,0,0.8);
    
    transition: all 0.33s ease;
    
    &.no-opacity {
        background-color: black;
        box-shadow: 0px 0px 5px #777;
    }

    @import './nav';
}