#home-body {
    padding-top: 46px;
    padding-bottom: 77px;
    
    color: white;
    
    h2 {
        font-size: em(36);
        padding-bottom: em(32,36);
        border-bottom: 5px solid $borderColor;
    }
    
    @include mediaQ(m) {
        padding-top: 23px;
        padding-bottom: 38px;
        
        h2 {font-size: em(24);}
    }
}

.home-body-section {
    .home-body-section-top {
        margin-bottom: 20px;
        padding-top: 71px;
        padding-bottom: 20px;
        border-bottom: 1px solid $borderColor;
        
        @include mediaQ(m) {
            padding-top: 35px;
        }
        
        h3 {
            display: inline;
            font-size: em(22);
            color: $fontGray;
            margin-right: 0.5em;
        }
        a {font-size: em(13);}
    }
    
    .home-body-section-collection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        @include mediaQ(t-d) {
            flex-direction: row;
            align-items: flex-start;
        }
        @include mediaQ(l-d) {
            justify-content: space-between;
        }
        @include mediaQ(s) {
            justify-content: space-around;
        }
    }
    
    .collection-item {
        width: 100%;
        
        @include mediaQ(m-s) {
            margin-bottom: 30px;
        }
        
        h4 {font-size: em(33);}
        h5 {font-size: em(18);}
        h4 em, h5 em {color: $fontTeal;}
        p, a, .date {
            font-size: em(13);
            line-height: 1.38em;
        }
        p, .date {
            margin-top: em(8);
            color: $fontGray;
        }
        .date {
            display: block;
            
            @include mediaQ(m) {
                display: inline-block;
                margin-top: 10px;
                margin-right: 10px;
            }
        }
        
        @include mediaQ(t-d) {
            width: 300px;
            
            h4 {max-width: 280px;}
        }
    }
    
    .collection-link {
        @extend .project-link;
        
        display: inline-block;
        margin-top: em(12);
    }
    
    .collection-thumb {
        width: 100%;
        margin-bottom: 20px;

        background-color: transparent;
        
        @include mediaQ(t-d) {
            height: 160px;
        }
        @include mediaQ(m) {
            img {width: 100%;}
        }
    }
}