#mobile-menu {
    @include mediaQ(t-d) {
        display: none !important;
    }
}

#mobile-menu nav.bm-item-list ul{
    padding-top: 32px;
    li {
        box-sizing: border-box;
        padding: 10px 20px;
        
        a {font-size: 2em;}
    }
}

.bm-burger-button {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    
    .bm-burger-bars {background-color: $fontGray;}
}

.bm-cross {
    background-color: white;
    height: 20px !important;
    width: 4px !important;
}

.bm-menu-wrap {background-color: rgba(0,0,0,0.97);}