> div.deskInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav {
    font-size: em(13);
    
    ul li {
        display: inline-flex;
        align-items: flex-end;
        height: em(32);
        
        &:not(:first-of-type) {
            @include mediaQ(m) {
                display: none;
            }
        }
    }
    li a{
        margin-right: 25px;
        
        font-weight: bold;
        line-height: 1em;
        
        @include mediaQ(s) {
            margin-right: 14px;
        }
        
        &#home-link {
            margin-right: 28px;
            
            color: $fontGray;
            font-size: em(32);
            line-height: 1em;
            text-transform: uppercase;
            
            @include mediaQ(m) {
                margin-left: 40px;
                margin-right: 0;
            }
        }
        &#contact-link {
            color: $fontOrange;
        }
        
        &:hover {
            color: $fontGray;
        }
    }
}

@import './social';