.banner-slide {
    box-sizing: border-box;
    height: $bannerHeight;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: top center;
    
    @include mediaQ(m-s) {
        height: $bannerHeightS;
    }
}

.banner-slide-inner {
    @extend .deskInner;
    
    box-sizing: border-box;
    height: $bannerHeight;
    padding-top: $bannerPadding;
    
    text-shadow: 0px 0px 2px #ddd;
    
    @include mediaQ(m-s) {
        height: $bannerHeightS;
    }
    
    h3 {
        margin-bottom: em(23,62);
        
        font-size: em(62);
        font-family: Arial;
        font-weight: 700;
        color: #d7141b;
        line-height: em(58,62);
        letter-spacing: -1.6px;
        text-transform: uppercase;
        
        @include mediaQ(m-s) {
            font-size: em(32);
        }
    }
    p {
        color: $fontGray;
        line-height: em(20);
    }
}

#slide-iPhone {
    background-image: url(./img/slide1.jpg);
    
    .banner-slide-inner {
        padding-top: $bannerPadding + 135px;
        
        @include mediaQ(m-s) {
            padding-top: $bannerPadding + 30px;
            background-image: linear-gradient(to right,rgba(255,255,255,0.9),rgba(255,255,255,0.85),transparent);
        }
        
        p {
            width: 360px;
            @include mediaQ(s) {
                width: 50%;
            }
            @include mediaQ(m) {
                width: 66%;
            }
        }
    }
}

#slide-windows {
    background-image: url(./img/slide2.jpg);
    background-size: cover;
    background-position-y: center;
        
    .banner-slide-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 150px;
        padding-right: 75px;
        
        text-align: right;
        
        h3, p {
            max-width: 55%;
        }
        p {width: 400px;}
        span.smaller {font-size: 0.75em;}
        
        @include mediaQ(m-s) {
            padding-top: $bannerPadding + 30px;
            padding-right: 5%;
            
            background-image: linear-gradient(to left,rgba(255,255,255,0.9),rgba(255,255,255,0.8),transparent);
        }
    }
}

#slide-wedding {
    background-image: url(./img/slide3.jpg);
    background-size: cover;
    background-position-y: bottom;
    
    .banner-slide-inner {
        $weddingGold: #daa520;
        
        padding-top: $bannerPadding + 135px;
        
        h3 {
            color: $weddingGold;
            text-shadow: 1px 1px 3px #777;
        }
        
        p {
            width: 360px;
            
            color: #777;
        }
        
        a {color: $weddingGold;}
        
        @include mediaQ(m-s) {
            padding-top: $bannerPadding + 30px;
            background-image: linear-gradient(to right,rgba(255,255,255,0.85),transparent);
            
            p {width: 45%;}
        }
    }
}