#header-social {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 60px;
    
    @include mediaQ(m) {
        align-items: center;
    }
    
    > div {bottom: 0;}
}

#twitter {
    width: 204px;
    height: 40px;
    
    color: $fontTeal;
    background-color: #444;
    
    @include mediaQ(m) {
        width: 80px;
    }
    
    span {
        display: inline-block;
        height: 40px;
        vertical-align: top;
        
        text-align: center;
        line-height: 40px;
        font-weight: 700;
    }
    
    .icon {
        width: 40px;
        
        text-align: right;
        
        @include mediaQ(m) {
            text-align: center;
        }
    }
    
    .tweet {
        box-sizing: border-box;
        width: 124px;
        padding-left: 10px;
        
        text-align: left;
        
        @include mediaQ(m) {
            display: none;
        }
    }
    
    .plus {
        width: 40px;
        
        font-family: Arial;
        font-size: 20px;
        color: white;
        background-color: $fontOrange;
        cursor: pointer;
    }
}