$mobile			:	320px;
$smalltablet	:	768px;
$largetablet	:	1000px;
$desktop		:	1280px;

@mixin mediaQ($devices){
	@if($devices=='m'){
		@media (max-width: $smalltablet - 1){
			@content;
		}
	}@else if($devices=='s'){
		@media (max-width: $largetablet - 1 ) and (min-width: $smalltablet){
			@content;
		}
	}@else if($devices=='l'){
		@media (max-width: $desktop - 1 ) and (min-width: $largetablet){
			@content;
		}
	}@else if($devices=='t'){
		@media (max-width: $desktop - 1 ) and (min-width: $smalltablet){
			@content;
		}
	}@else if($devices=='m-s'){
		@media (max-width: $largetablet - 1 ){
			@content;
		}
	}@else if($devices=='m-t'){
		@media (max-width: $desktop - 1 ){
			@content;
		}
	}@else if($devices=='t-d'){
		@media (min-width: $smalltablet){
			@content;
		}
	}@else if($devices=='l-d'){
		@media (min-width: $largetablet){
			@content;
		}
	}@else{//desktop-only is default
		@media (min-width: $desktop){
			@content;
		}
	}
}

@mixin mediaQCustom($lowerbound:'', $upperbound:''){
	@if($lowerbound!=''){
		@if($upperbound!=''){//upper and lower are set
			@media (max-width: $upperbound) and (min-width:$lowerbound){@content;}
		}@else{//only lower is set
			@media (min-width:$lowerbound){@content;}
		}
	}@else if($upperbound!=''){//only upper is set
		@media (max-width:$upperbound){@content;}
	}
}

//Functions
@function em($px: 16, $base: 16) {
	@return $px / $base * 1em;
}

@function rem($px: 16) {
	@return $px / 16 * 1rem;
}