@import 'helpers/reset';
@import 'helpers/mixins';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$fontGray: #9f9f9f;
$fontOrange: #e14f3a;
$fontTeal: #6cd9d9;
$borderColor: rgba(159,159,159,0.3);

body {
    width: 100%;
    
    font-size: 16px;
    font-family: Helvetica;
    background-color: rgba(0,0,0,0.9);
    
    a {
        text-decoration: none;
        color: white;
        white-space: nowrap;
    }
    em {color: $fontOrange;}
    
    .deskInner {
        box-sizing: border-box;
        width: 100%;
        
        @include mediaQ(l-d) {
            max-width: 940px;
            margin: 0 auto;
        }
        @include mediaQ(m-s) {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    .project-link {
        color: $fontOrange;
        font-weight: bold;
    }
}

@import 'partials/mobileMenu';

@import 'partials/header';

@import 'partials/banner';

@import 'partials/homeBody';